*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
}
header .logo{
    position: relative;
    font-size:2em;
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    
}
header .logo span{
    color: rgb(3, 156, 67);
}
header .toggle{
    max-width: 60px;
    cursor: pointer;
}
header .toggle img{
    max-width: 100%;
    filter: invert(1);
    
    
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background-color: #111;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner::before{
    content:'';
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: rgb(3, 156, 67);
    transform-origin:top;
    transform: skewX(-25deg);
    z-index: 1;
}
video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
    pointer-events: none;
}
.banner .textBox{
    position: relative;
    max-width: 600px;
    z-index: 2;
}
.banner .textBox h2{
    color:#fff;
    font-size: 3em;
}
.banner .textBox p{
    color:#fff;
    font-size: 1.1em;
    margin: 5px 0 25px;
}
.banner .textBox a{
    position: relative;
    /*display: flex;*/
    background-color: #fff;
    color: rgb(248, 248, 248);
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 5px;
    background-color: rgba(3, 156, 67, .5);
}
.banner .imgBox{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    z-index: 2;
}
.banner .imgBox img{
    position: absolute;
    bottom: 0;
    height: 90%;
    z-index: 1111;
}
.sci{
    position: absolute;
    bottom: 20px;
    letter-spacing: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li{
    list-style-type: none;

}
.sci li a{
    margin-right: 5px;
    display: inline-block;
    
}
.sci li a i{
    transform: scale(1.5);
    color: #fff;

}
.fa, .fab, .fad, .fal, .far, .fas 
    {
        position: relative;
        
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 3;
        color: white;
        z-index: 2000;
}
@media (max-width: 1119px)
{
  header
  {  
    padding: 20px 50px;
  }
  .banner
  {
      padding: 150px 50px 0;
      flex-direction: column;
      overflow: hidden;
  }
  .banner::before{
    width: 300px;
    transform: skewX(-25deg) translateX(50%);
  }
  .banner .textBox{
      max-width: 100%;
  }
  .sci{
      
      z-index: 1000px;
      left: initial;
      right:5px;
      flex-direction: column;
      z-index: 1000px;
      margin: 5px;
      color: rgb(3, 156, 67);
    }
    .fa, .fab, .fad, .fal, .far, .fas 
    {
        
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 3;
        
        z-index: 1000;
}
}